// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile: 320px,
    mobileLandscape: 480px,
    phablet: 660px,
    tablet: 740px,
    desktop: 980px,
    leftCol: 1140px,
    wide: 1300px
);

@import "mq_old";

$primary-color: #6fa19a;

.content__article-body {
    h2 {
        font-size: 22px !important;
        line-height: 24px !important;
        font-family: "Guardian Egyptian Web", "Guardian Text Egyptian Web", Georgia, serif !important;
        font-weight: 800 !important;
    }
}

.membership-illo {
    height: 400px;
    width: 300px;
    background-image: url('https://s3.amazonaws.com/gdn-cdn/membership-article-two/img/liver_building.png');
    background-position: center bottom;
    background-size: contain;
    position: absolute;
    right: 18%;
    bottom: -8px;
    background-repeat: no-repeat;
    z-index: 0;
    @include mq($until: wide) {
        right: 15%;
    }

    @include mq($until: mobileLandscape) {
        display: none;
    }
}

.content__labels {
    display: none;
}

.membership-byline {
    display: block;
}

.content__meta-container--immersive {
    border: none !important;
    position: absolute !important;
    @include mq($until: leftCol) {
        position: relative !important;
    }
    @include mq($until: mobileLandscape) {
        position: relative !important;
        margin-top: -7px;
    }
}

.content__dateline {
    display: none !important;
}

.pullquote-paragraph {
    color: white !important;
}

.element-pullquote {
    blockquote {
        margin-top: 6px;
        .pullquote-paragraph {
            text-indent: 0px !important;
        }
    }
    &.element--supporting {
        blockquote {
            .pullquote-paragraph {
                color: $primary-color !important;
            }
        }
    }
    &.element--inline {
        float: right !important;
        width: 360px !important;
        height: auto;
        padding-left: 8px;
        padding-top: 8px;
        padding-bottom: 88px !important;
        margin-right: -200px !important;
        margin-left: 20px !important;
        background-image: url('https://s3.amazonaws.com/gdn-cdn/membership-article-two/img/speech_bubble_flipped.png');
        background-size: contain;
        background-repeat: no-repeat;
        border: none !important;
        background-size: cover;
        min-height: 270px;

        @include mq($until: tablet) {
            background-size: contain;
        }

        .inline-quote {
            display: none;
        }

        blockquote {
            margin-top: 6px;
            margin-left: 8px;

            .pullquote-paragraph, .pullquote-cite {
                font-size: 28px !important;

                @include mq($until: tablet) {
                    font-size: 22px !important;
                }
            }
        }

        @include mq($until: desktop) {
            margin-right: -60px !important;
        }

        @include mq($until: mobileLandscape) {
            float: none;
            width: 100% !important;
            margin-right: 0px !important;
            margin-left: 0px !important;
            min-height: 200px;
        }
    }
    &.element--showcase {
        float: left !important;
        margin-left: -220px !important;
        width: 360px !important;
        height: auto;
        margin-right: 20px;
        background-image: url('https://s3.amazonaws.com/gdn-cdn/membership-article-two/img/speech_bubble.png');
        background-size: contain;
        background-repeat: no-repeat;
        padding-left: 8px !important;
        padding-top: 12px !important;
        padding-bottom: 88px !important;
        background-size: cover;
        min-height: 270px;
        margin-bottom: 0px !important;

        @include mq($until: leftCol) {
            margin-left: 2px !important;
        }

        @include mq($until: tablet) {
            float: none !important;
            margin-right: 0px !important;
            margin-left: 0px !important;
            width: 100% !important;
            background-size: contain;
            min-height: 200px;
            border: none !important;
        }

        blockquote {
            .pullquote-paragraph, .pullquote-cite {
                font-size: 28px !important;

                @include mq($until: tablet) {
                    font-size: 22px !important;
                }
            }
        }

        .inline-quote {
            left: 0px !important;
            display: none;
        }
    }
}

.meta__numbers {
    display: none !important;
}

.quoted .inline-quote {
    height: 50px !important;
    width: 50px !important;
    position: relative !important;
    background-image: url('https://s3.amazonaws.com/gdn-cdn/membership-article-two/img/quote.png');
    background-size: contain;
    background-repeat: no-repeat;
    svg {
        display: none;
    }
}

.section-rule {
    background-color: transparent !important;
    background-image: url('https://s3.amazonaws.com/gdn-cdn/membership-article-two/img/line.png');
    height: 10px !important;
    background-size: contain;
    background-repeat: no-repeat;
    width: 150px !important;
}

.vjs-control-bar {
    display: none !important;
}

.gu-media-wrapper:hover {
    .vjs-control-text {
        &::before {
            background-color: #4bc6df !important;
        }
    }
}

.gu-media-wrapper {
    z-index: 10;
}

.element-video {
    overflow: visible;
    // figcaption {
    //     // display: none;
    //     margin-top: 20px;
    //     position: relative;
    //     z-index: 10;
    //
    //     &:before {
    //         display: none !important;
    //     }
    //
    //     strong {
    //         display: block;
    //         font-family: "Guardian Egyptian Web", "Guardian Text Egyptian Web", Georgia, serif;
    //         font-size: 18px;
    //     }
    //
    //     @include mq($until: mobileLandscape) {
    //         margin-top: 40px;
    //     }
    // }
    &.element--showcase {
        // figcaption {
        //     margin-left: 70px;
        // }
        @include mq($until: desktop) {
            margin-bottom: 49px !important;
            width: 20rem !important;
            float: left;
            margin-right: 55px;
        }
        @include mq($until: tablet) {
            margin-bottom: 90px !important;
            margin-top: 24px;
        }
        @include mq($from: desktop) {
            width: 20rem !important;
            float: right !important;
            margin-left: 40px !important;
            margin-right: -226px !important;
            margin-top: 44px !important;
        }
        .membership-video-background {
            position: absolute;
            background-image: url('https://s3.amazonaws.com/gdn-cdn/membership-article-two/img/video_background_flipped.png');
            background-size: cover;
            z-index: 0;
            top: 0px;
            margin-top: -2px;
            margin-left: -1px;
            width: 353px;
            height: 264px;
            margin-top: -23px;
            margin-left: -18px;
            @include mq($until: desktop) {
                width: 117% !important;
                height: 279px !important;
            }
            @include mq($until: mobileLandscape) {
                height: 279px !important;
            }
        }
    }

    &.element--supporting {
        // figcaption {
        //     margin-left: 110px;
        // }
        // @include mq($until: wide) {
        //     margin-bottom: 70px !important;
        // }
        // @include mq($until: desktop) {
        //     margin-bottom: 49px !important;
        //     width: 20rem !important;
        //     float: left;
        //     margin-right: 55px;
        // }
        // @include mq($until: tablet) {
        //     margin-bottom: 90px !important;
        //     margin-top: 24px;
        // }
        // @include mq($from: desktop) {
        //     width: 20rem !important;
        //     margin-right: 40px !important;
        //     margin-top: 40px !important;
        // }
        .membership-video-background {
            position: absolute;
            background-image: url('https://s3.amazonaws.com/gdn-cdn/membership-article-two/img/video_background.png');
            background-size: cover;
            z-index: 0;
            top: 0px;
            margin-top: -2px;
            margin-left: -1px;
            width: 353px;
            height: 264px;
            margin-top: -18px;
            margin-left: -15px;
            @include mq($until: desktop) {
                width: 117% !important;
                height: 279px !important;
            }
            @include mq($until: tablet) {
                height: 279px !important;
            }
        }
    }
    .block-share {
        display: block !important;
        visibility: hidden;
    }
}

.membership-video-background {
    position: absolute;
    background-image: url('https://s3.amazonaws.com/gdn-cdn/membership-article-two/img/video_background.png');
    background-size: cover;
    z-index: 0;
    top: 0px;
    margin-top: -2px;
    margin-left: -1px;
    width: 414px;
    height: 309px;
    margin-top: -23px;
    margin-left: -18px;
}

$baseline: 12px;
$gutter: 10px;
$shadow-height: 18px;
.supporting-text {
    margin: $baseline*1.5 0;
    padding: $baseline/2 $gutter/2;
    background-color: #005689; // news-main-1
    color: #ffffff;
    position: relative;

    &:before, &:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        width: 100%;
        height: $shadow-height;
    }

    &:before {
        background: url('<svg xmlns="http://www.w3.org/2000/svg" width="250" height="18" viewBox="0 0 250 18"><path fill="#4BC6DF" d="M230 18l-1.6-18L22.7 18"/></svg>') no-repeat right;
        top: -$shadow-height;
    }

    &:after {
        background: url('<svg xmlns="http://www.w3.org/2000/svg" width="250" height="18" viewBox="0 0 250 18"><path fill="#4BC6DF" d="M20 0l1.6 18L227.3 0"/></svg>') no-repeat left;
        bottom: -$shadow-height;
    }
}

.supporting-text__header {
    font-size: 20px;
    line-height: 24px;
    font-family: Guardian Egyptian Web,Georgia,serif;
    font-weight: 900;
    min-height: 24px;
    padding-bottom: 18px;
    margin-bottom: 8px;
}
.supporting-text__content {
    font-size: 14px;
    line-height: 20px;
    font-family: Guardian Text Sans Web,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
    font-weight: 700;
    margin: 0 0 $baseline/2 0;
}
.supporting-text__footer {
    font-size: 20px;
    line-height: 24px;
    font-family: Guardian Egyptian Web,Georgia,serif;
    margin: 0 0 $baseline/2 0;
    color: #ffffff;
    text-decoration: none;
}

.element-rich-link {
    display: none;
}
.article__headline{
  &.headline{
    position: relative;
    margin: 0;
  }
}
.quoted__contents{
  color: #005689;
  font-family: Guardian Text Sans Web,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
  font-style: normal;

  &::before{
    content:'';
    width: 36px;
    height: 50px;
    background-image: url('https://s3.amazonaws.com/gdn-cdn/membership-article-two/img/quote_marks.svg');
    background-size: contain;
    display: block;
    float: left;
    margin-left: -35px;
    margin-top:1px;
    background-repeat: no-repeat;
  }
}

.labour-liverpool-headline__content{
  font-size: 36px !important;
  line-height: 38px !important;

  @include mq($until: mobileLandscape){
    font-size: 28px !important;
    line-height: 32px !important;
  }
}

.element--lab-atom{
    position: absolute !important;
    top: 120px;
    right: -417px;

    @include mq($until:wide){
      right: -335px;
    }

    @include mq($until:leftCol){
      right: -335px;
    }

    @include mq($until: desktop){
      right:auto;
      position:relative !important;
      top:auto;
    }

}

.lightbox--boot{
  display: none;
  position: fixed;
  background-color: black;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  z-index: 4000;

  &[data-open='visible']{
    display: block;

    @include mq($until:mobileLandscape){
      display: none;
    }
  }

  .close-button{
    position: absolute;
    z-index: 5000;
    width: 40px;
    height: 40px;
    right: 40px;
    top: 30px;
    border-radius: 50%;
    border:1px solid #fff;
    cursor: pointer;

    svg{
    margin-left: 10px;
    margin-top: 6px;
    width: 20px;

    polygon{
        fill:white;
    }
  }

    &::after{
      content: url('');
    }
  }

  img {
    width: auto !important;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 30px;
  }
}

.element--supporting {
  cursor: pointer;
}

[data-photo-essay="isPhotoEssay"] {

  .element--lab-atom{
    display: none !important;
  }

  figcaption {
    display: none !important;
  }

  .inline-expand-image {
    display: none !important;
  }

  .element-image:nth-child(even) {
    &:not(.element--immersive):not(.element--supporting):not(.element--thumbnail):not(.element--showcase){
      width: 300px;
      float: right;
      margin-left: 20px;

      @include mq($until: mobileLandscape) {
        float: none;
        margin-left: 0px;
      }
    }
  }

  .element--immersive + ul, .element--showcase + ul {
    width: 150px;
    margin-left: -170px;
    float: left;

    & > li {
      width: 100%;
    }

    @include mq($until: leftCol) {
      width:100%;
      margin-left: 0px;
    }

    @include mq($until: mobileLandscape) {
      width: 98%;
      float: none;
      margin-left: 0px;
    }
  }

  ul{
    display: inline-block;
    margin-top: -7px;
    @include mq($until: mobileLandscape) {
      margin-top: -0.2em;
    }
  }

  ul > li {
    color: #005689;
    font-family: Guardian Text Sans Web,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
    font-size: 12px;
    width: 24%;
    float: left;
    margin-right: 1%;
    line-height: 14px;
    padding-top: 7px;
    border-top: 1px solid #005689;
    margin-top: 8px;

    &::before {
      display: none !important;
    }

    @include mq($until: mobileLandscape){
      width:98%;
    }
  }


  .element-image {
    .block-share {
      display: none !important;
    }

    &:not(.element--immersive):not(.element--supporting):not(.element--thumbnail):not(.element--showcase) {
      width: 300px;
      float: left;
    }

    &.element--immersive {
      margin-left: -16.25rem;
      margin-right: -26.4rem;

      @include mq($until: wide) {
        margin-left: -11.25rem;
        margin-right: -21.3rem;
      }

      @include mq($until: leftCol) {
        margin-left: -1.25rem;
      }

      @include mq($until: desktop) {
        margin-right:-6.25rem;
      }

      @include mq($until: mobileLandscape) {
        margin-left: -1rem;
        margin-right: -1rem;
      }

      .inline-expand-image {
        display: none;
      }

      h2{
        &.section-title {
          font-size: 40px !important;
          color: white;
          font-weight: 200 !important;

          @include mq($until: mobileLandscape) {
            font-size: 24px !important;
            line-height: 26px !important;
          }
        }
      }

      .section-title {
        position: absolute;
        z-index: 3000;
        background-color: rgba(75, 198, 223, 0.8);
        -webkit-clip-path: polygon(0 5%, 100% 49%, 100% 100%, 0% 100%);
        clip-path: polygon(0 5%, 100% 49%, 100% 100%, 0% 100%);
        padding-bottom: 36px;
        bottom: -0.1%;
        padding-left: 20%;
        padding-right: 35%;
        width: 45%;
        line-height: 36px !important;
        padding-top: 50px;

        @include mq($until: wide) {
          padding-left: 15.5%;
          width: 49.5%;
        }

        @include mq($until: leftCol) {
          padding-left: 2%;
          width: 63%;
        }

        @include mq($until: mobileLandscape) {
          -webkit-clip-path: polygon(0 0, 100% 1%, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 1%, 100% 100%, 0 100%);
          width:92%;
          padding-left: 4%;
          padding-right: 4%;
          padding-top: 6px;
          padding-bottom: 12px;
        }
      }

      figcaption {
        position: absolute;
      }

      .block-share {
        display: none !important;
      }
    }
  }
}
